:root {
  --primary-color: #d54c4c;
  --primary-color-dark: #ac3b3b;
  --secondary-color: #fcd8d4;
}

.main-container {
  padding: 0 20px 100px;
  border: 1px dashed #999;
}

input::-webkit-input-placeholder {
  font-family: "Poppins";
}
